@function em($target, $context: $base__font-size) {
    @return calc($target / $context) * 1em;
}

@mixin small {
    @media screen and (min-width: 576px) {
        @content;
    }
}

@mixin medium {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin large {
    @media screen and (min-width: 992px) {
        @content;
    }
}

@mixin x-large {
    @media screen and (min-width: 1200px) {
        @content;
    }
}


$base__font-size: 16px;

$Darkest_Night: #0A0A0B;
$Night: #0E0E0F;
$Eerie_Black: #1b1b1b;
$Jet: #2D2D2D;
$Dim_Gray: #6D6D6D;

* {
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .4px;
    background-color: $Darkest_Night;
}


.container{
    min-height: 100vh;
    position: relative;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    margin: 20px 20px 0 20px;
}



//======================================================
//GET IN TOUCH CSS/SASS:
//======================================================

.error{
    color: red;
}


.containing{
    display: flex;
    align-items: center;
    justify-content: center;
}

// .emailPic_container{
// 
    // display: flex;
    // justify-content: center;
// }


.image{
    display: flex;
    justify-content: center;
}


// #picsum_img{
    // width: 300px;
    // height: 250px;
// }

.emailPic_container h2,
.form_header h2{
    color: white;
}


.random_picture,
.saved_img{
    margin-top: 20px;
    padding-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
}

.saved_img{
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.img-btn,
.randomImg_header,
.image-gallery-container{
    text-align: center;
    margin-bottom: 10px;
}

form{
    text-align: center;
}

// .input_fields{
    // display: flex;
    // justify-content: center;
// }

.input_fields input{
    margin-right: 10px;
    padding: 10px;
}

.image{
    margin: 10px 0 20px 0;
}

.container button{
    text-decoration: none;
    padding: 10px 15px; 
    border-radius: 5px;
    background-color: $Eerie_Black;
    color: white;
}

#imageGallery{
    padding: 0 20px;
}

#imageGallery img{
    padding: 0 20px 20px 20px;
}

.saved_img h3{
    color: white;
}